n8n/Menu_Photo_Insert.json
{
  "name": "Menu_Photo_Insert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menu-photo/insert",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "webhookId": "menu-photo-insert-3a7d2b14"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate + normalize the insert payload before SQL.\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst menuItemId = parseInt(body.menu_item_id ?? body.menuItemId, 10);\nconst photoUrl = String(body.photo_url ?? body.photoUrl ?? '').trim();\nconst sortOrder = Number.isFinite(parseInt(body.sort_order ?? body.sortOrder, 10))\n  ? parseInt(body.sort_order ?? body.sortOrder, 10) : 0;\nconst isVisibleRaw = body.is_visible ?? body.isVisible;\nconst isVisible = isVisibleRaw === false ? false : true;\n\nif (!Number.isFinite(menuItemId) || menuItemId <= 0) {\n  return [{ json: { ok: false, error: 'menu_item_id required (positive integer)' } }];\n}\nif (!photoUrl || !/^https?:\\/\\//i.test(photoUrl)) {\n  return [{ json: { ok: false, error: 'photo_url required (http/https URL)' } }];\n}\n\nreturn [{ json: { ok: true, menu_item_id: menuItemId, photo_url: photoUrl, sort_order: sortOrder, is_visible: isVisible } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.menu_item_photos (menu_item_id, photo_url, sort_order, is_visible)\nVALUES ($1, $2, $3, $4)\nRETURNING id, menu_item_id, photo_url, sort_order, is_visible, created_at;",
        "options": {
          "queryReplacement": "={{ $json.menu_item_id }},={{ $json.photo_url }},={{ $json.sort_order }},={{ $json.is_visible }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [440, 0],
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Insert Row",
      "credentials": {
        "postgres": {
          "id": "R5AoWWAwgnm5tt1T",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const row = $input.first().json;\nreturn [{ json: { ok: true, row } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 0],
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Insert Row", "type": "main", "index": 0 }]]
    },
    "Insert Row": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
