n8n/Menu_Photo_Upload.json
{
  "name": "Menu_Photo_Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menu-photo/upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryData": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "c1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "webhookId": "menu-photo-upload-7b3e2c45"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate inputs from a multipart/form-data webhook upload.\n// Expected form fields:\n//   file         (binary, required)  — image file\n//   menu_item_id (text,   required)  — int FK into public.menu_items\n//   sort_order   (text,   optional)  — defaults to 0\n//\n// Generates a UUID-style S3 key and passes the binary through unchanged.\nconst input = $input.first();\nconst body = (input.json && input.json.body) || {};\nconst binaries = input.binary || {};\n\nconst binKey = Object.keys(binaries)[0];\nif (!binKey) {\n  return [{ json: { ok: false, error: 'no file uploaded (expected multipart field with a binary)' } }];\n}\nconst bin = binaries[binKey];\nconst mime = String(bin.mimeType || '').toLowerCase();\nconst allowed = ['image/jpeg', 'image/png', 'image/webp', 'image/gif'];\nif (!allowed.includes(mime)) {\n  return [{ json: { ok: false, error: 'unsupported mime: ' + mime + ' (allowed: ' + allowed.join(', ') + ')' } }];\n}\nconst extMap = { 'image/jpeg': 'jpg', 'image/png': 'png', 'image/webp': 'webp', 'image/gif': 'gif' };\nconst ext = extMap[mime];\n\nconst menuItemId = parseInt(body.menu_item_id ?? body.menuItemId, 10);\nif (!Number.isFinite(menuItemId) || menuItemId <= 0) {\n  return [{ json: { ok: false, error: 'menu_item_id required (positive integer)' } }];\n}\nconst sortOrder = parseInt(body.sort_order ?? body.sortOrder ?? '0', 10) || 0;\n\n// UUID-ish key from time + Math.random (no crypto needed; collision risk negligible at our volume)\nconst rand = () => Math.random().toString(36).slice(2, 10);\nconst uuid = `${Date.now().toString(36)}-${rand()}-${rand()}`;\nconst s3Key = `menu/${uuid}.${ext}`;\nconst publicUrl = `https://foodservai-menu-photos.s3.us-east-2.amazonaws.com/${s3Key}`;\n\nreturn [{\n  json: { ok: true, s3Key, publicUrl, menuItemId, sortOrder, mime, binKey },\n  binary: binaries\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "c2222222-2222-4222-8222-222222222222",
      "name": "Prepare"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "foodservai-menu-photos",
        "fileName": "={{ $json.s3Key }}",
        "binaryData": true,
        "binaryPropertyName": "={{ $json.binKey }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Upload to S3",
      "credentials": {
        "aws": {
          "id": "HtByymd8zjytf8SB",
          "name": "AWS S3 Menu Photos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.menu_item_photos (menu_item_id, photo_url, sort_order, is_visible)\nVALUES ($1, $2, $3, TRUE)\nRETURNING id, menu_item_id, photo_url, sort_order, is_visible, created_at;",
        "options": {
          "queryReplacement": "={{ $('Prepare').item.json.menuItemId }},={{ $('Prepare').item.json.publicUrl }},={{ $('Prepare').item.json.sortOrder }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 0],
      "id": "c4444444-4444-4444-8444-444444444444",
      "name": "Insert Row",
      "credentials": {
        "postgres": {
          "id": "R5AoWWAwgnm5tt1T",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const row = $input.first().json;\nconst prep = $('Prepare').item.json;\nreturn [{ json: { ok: true, public_url: prep.publicUrl, key: prep.s3Key, row } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "c5555555-5555-4555-8555-555555555555",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 0],
      "id": "c6666666-6666-4666-8666-666666666666",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Upload to S3", "type": "main", "index": 0 }]] },
    "Upload to S3": { "main": [[{ "node": "Insert Row", "type": "main", "index": 0 }]] },
    "Insert Row": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
    "Format Response": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
